* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: skyblue;
}

body > .right {
    background-color: lawngreen;
}


.rightsearch {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;
}


.intro,.intro .left, .searchdiv {
    display: grid;
    grid-template-columns: repeat(2, auto)
}

.intro {
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;   
}

header {
    background-color: #fff;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.searchdiv {

}