/* General */

 * {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar, button {
    background-color: #1892d3;
}



/*Top header */
.leftsearch {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 15px;

}
.rightsearch p {
    font-weight: 500;
    font-size: 24px;
}
.rightsearch {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-self: flex-end;
    align-items: center;
    gap: 20px;
}

button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    width: 120px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 25px;
}

.card, .announce-div, .trend-div {
    background-color: #fff;
}
.leftsearch img {
    height: 25px;
}

.leftsearch input {
    height: 15px;
    padding: 15px;
    background-color: #e1e8f0;
    border: none;
    border-radius: 15px;
}

.searchdiv {
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    margin-bottom: 10px;
    
}
/*
.searchdiv * {
    border: 1px solid black;
}*/
.intro,.intro .left{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}
.intro .profile {
    height: 70px;
}
.intro .left {
    gap: 20px;
}

.greetings p {
    font-weight: 500;
    font-size: 30px;
}
.greetings p:first-child {
    font-size: 16px;
}

.intro {
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;   
}

.searchdiv .bell-image {
    height: 25px;
}

.profile {
    height: 50px;
}
header {
    background-color: #fff;
    padding: 20px 40px;
}


/*Side bar*/

.sidebar {
    padding: 20px;
}
.sidebar .logo-image {
    height: 56px;
}

.sidebar .logo{
    margin-top: 5px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 15px;
}


.sidebar h1 {
    font-size: 36px;
    color: white;
    font-weight: 500;
}

.sidebar-image {
    height: 25px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    font-weight: 500;
}

.sidebar li {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-bottom: 24px;
    margin-left: 10px;
}

.sidebar .settings {
    margin-top: 60px;
}
/* Main */

main {
    background-color: #e1e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    padding: 20px;
}

.projects h2 {
    margin-bottom: 10px;
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
}

.card {
    height: 200px;
    border-left: 8px solid #f1b32b;
    border-radius: 8px;
    padding: 25px;
    padding-top: 40px;
}

.card .text {
    color: rgb(88, 88, 88);
}



/* Announcements and Trending*/
.announcements {
    color: rgb(88, 88, 88);
}

.announcements h2 {
    margin-bottom: 10px;
    color: black;
}


.announce-div {
    display: grid;
    border-radius: 8px;
    padding: 24px;
    grid-template-rows: repeat(3, auto);
    
}

.announce-items {
    border-bottom: 1px solid black;
    padding: 20px 0;
    font-size: 14px;
}

.announce-items h3 {
    font-size: 1.17rem;
    color: black;
}
.announce-items:last-child {
    border-bottom: none;
}

.trending {
    margin-top: 50px;
}
.trending h2 {
    margin-bottom: 10px;
}
.trend-div {
    display: grid;
    border-radius: 8px;
    padding: 24px;
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;
    padding-left: 40px;
}

.trend-items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: rgb(88, 88, 88);
    
}

.trend-items .username{
    color: black;
    }

